authentication:
  host: https://api.schoology.com
  root_path: /v1
  consumer_key: <comsumer_key_here>
  consumer_secret: <consumer_secret_here>
  instructor:
    consumer_key: <comsumer_key_here>
    consumer_secret: <consumer_secret_here>
